.button {
    &-default {
        padding: 0.6rem 1.7rem;
        border: 2px solid $space;
        color: $space;
        font-family: 'Inter';
        font-weight: 600;
        font-size: 1.6rem;
    }
    &-hover {
        border: 2px solid $tteal;
        color: $tteal;
    }
    &-disabled {
        border: 2px solid #f4eee8;
        color: #f4eee8;
    }
}
