.contact-form {
    .form-control {
        border-radius: 0%;
        border: 2px solid $space;
        padding-left: 1.6rem;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        font-family: 'Inter';
        font-size: 2.3rem;
        color: $space;
        &:focus {
            outline: none;
        }
    }
    input[type='email'] {
        font-style: italic;
    }
}
